include/KHR/**              linguist-vendored
include/glad/**             linguist-vendored
include/GLFW/**             linguist-vendored
include/glm/**              linguist-vendored
cmake/**                    linguist-vendored
lib/**                      linguist-vendored
src/glad.c                  linguist-vendored
tracy/**                    linguist-vendored

